@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Jua|Kirang+Haerang|Yeon+Sung&display=swap');
html {
    -webkit-scrollbar: smooth;
}

html a {
    text-decoration: none;
    font-family: 'Jua', cursive;
}

html ul,
html li {
    list-style: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.blog-header-logo {
    font-family: 'Kirang Haerang', cursive;
    font-weight: bold;
    font-size: 30px;
}

.text-muted {
    display: inline-block;
}

@media (max-width: 768px) {
    .text-muted {
        display: none;
    }
}

.profile_image {
    width: 330px;
    height: 250px;
}

.profile_member {
    width: 180px;
    height: 180px;
}

.demo {
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.slide_video {
    width:
}

.jumbotron {
    background-image: url(./images/coffee-2242213_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body,
h1 {
    font-family: 'Do Hyeon', sans-serif;
}

.blog-post {
    margin-top: 20px;
}

.etch-round img {
    border-radius: 50%;
}

.etch-row-padding img {
    margin-bottom: 12px
}

.d-sm-row img {
    width: 200px;
    height: 250px;
}

@media screen and (max-width:993px) {
    .d-sm-row img {
        width: 330px;
        height: 250px;
    }
}